<div class="overflow-x-scroll overflow-y-scroll mt-12">

    <p style="font-family: raleway;"
       class="font-bold text-center text-white py-2 text-xl "> Manage credits </p>


    <p style="font-family: raleway;"
       id='open-notifications-board'
       class=" text-center text-blue-500 hover:text-blue-300 cursor-pointer py-2 text-base  "> <i
           class="bi-plus text-xl "></i>
        Add new credit </p>




    <table class="w-full mx-1 md:mx-auto">
        <tr class="font-bold text-white text-center bg-gray-800"
            style="font-family: work sans;">
            <th> Actions </th>

            <th> Issuer </th>
            <th> Amount </th>
            <th class="pb-4"> Benefitting client </th>
            <th> Timestamp </th>





        </tr>
        {/ credits.map((c)=>{ /}

        <tr style="font-family: raleway;"
            class="text-white py-4 md:py-2 text-lg md:text-xl text-center bg-blue-400 hover:bg-blue-300 cursor-pointer">
            <td class="px-4">
                <i title="Delete"
                   class="bi-trash p-2 hover:text-red-500 cursor-pointer"></i>



            </td>

            <td class="px-4"> You </td>
            <td class="px-4"> ${/= numeral(c.amount) /}</td>
            <td class="px-4"> {/= c.destination.email /}</td>
            <td class="px-4"> {/= c.timestamp.toLocaleString() /}</td>





        </tr>

        {/ }) /}


    </table>



</div>




<!--Notifications  -->
<!-- Overlay  -->
<div id='notifications-board-overlay'
     class="fixed hidden top-0 z-20 left-0 right-0 bottom-0 bg-gray-900 opacity-75">

</div>

<div id='notifications-board'
     style="height:150vh;padding-bottom: 550px;"
     class="max-w-xl mx-auto hidden rounded mt-10 md:mt-16 z-30 fixed top-0 left-0 right-0 bg-gray-50  shadow-2xl p-2 min-h-screen overflow-y-scroll ">

    <p class="text-base text-gray-600 md:text-xl font-bold text-center p-4"
       style="font-family: work sans;"> Add new credit </p>

    <a>

        <i id='close-notifications-board'
           class="bi-x rounded-full shadow-2xl text-xl absolute hover:bg-gray-300 bg-gray-200 px-2 py-1  top-4 right-4 text-gray-700 hover:scale-105 transform cursor-pointer"></i>

    </a>



    <form method="post"
          action="/manage/add-credit">




        <div class="mb-2 ml-4 text-black text-left py-3">
            <label class="text-lg block py-2"
                   for='email'> Client email </label>
            <input id='email'
                   class="block w-10/12 py-2 rounded mx-auto ring ring-black outline-none text-black pl-6"
                   type="email"
                   required
                   maxlength="255"
                   name="email">
        </div>

        <div class="mb-2 ml-4 text-black text-left py-3 ">
            <label class="text-lg block py-2"
                   for="amount"> Amount </label>
            <input type="text"
                   minlength="2"
                   pattern="^(\d+(\.\d{0,9})?|\.?\d{1,2})$"
                   required
                   maxlength="35"
                   class="block w-10/12 py-2 rounded ring ring-black mx-auto outline-none text-black pl-6"
                   id='amount'
                   name="amount">
        </div>



        <input type="submit"
               value="Credit"
               class="w-11/12 mt-12 mb-6 cursor-pointer block bg-blue-500 hover:bg-blue-600  text-white mx-auto text-black ring-1 ring-white rounded text-xl p-3">
    </form>


</div>

<script>
    $(document).ready(() => {

        $('#open-notifications-board').click(() => {
            $('#notifications-board-overlay').fadeIn('fast');
            $('#notifications-board').slideDown('slow');


            $('#close-notifications-board').click(() => {
                $('#notifications-board').slideUp('fast');
                $('#notifications-board-overlay').fadeOut('slow');
            })
        })
    })
</script>