<div class="bg-gray-700 pt-8 mt-32">
    <footer class="flex flex-col md:flex-row justify-around items-center space-y-10 md:space-y-0 ">


        <div class="self-center">

            <div>
                <img src='/favicon.ico'
                     alt='logo'
                     class="h-8 w-8 inline-block">
                <h2
                    class="inline-block font-bold text-center capitalize text-white p-2 text-lg md:text-xl">
                    {/= sitename
                    /} </h2>

            </div>


        </div>

        <ul class="flex flex-col justify-center items-start">


            <a href=""
               class="text-left text-white capitalize px-2 hover:underline text-base  md:text-lg">
                Home
            </a>
            <a href=""
               class="text-left text-white capitalize px-2 hover:underline text-base  md:text-lg">
                Kitchen
            </a>
            <a href=""
               class="text-left text-white capitalize px-2 hover:underline text-base  md:text-lg">
                Dining
            </a>
            <a href=""
               class="text-left text-white capitalize px-2 hover:underline text-base  md:text-lg">
                Bedroom
            </a>
            <a href=""
               class="text-left text-white capitalize px-2 hover:underline text-base  md:text-lg">
                Lobby
            </a>


            <hr class="border-4 bg-red-500 border-red-500 block w-full my-3" />




        </ul>

        <ul class="flex flex-col justify-center items-start">


            <a href=""
               class="text-left text-white capitalize px-2 hover:underline text-base  md:text-lg">
                Home
            </a>
            <a href=""
               class="text-left text-white capitalize px-2 hover:underline text-base  md:text-lg">
                Kitchen
            </a>
            <a href=""
               class="text-left text-white capitalize px-2 hover:underline text-base  md:text-lg">
                Dining
            </a>
            <a href=""
               class="text-left text-white capitalize px-2 hover:underline text-base  md:text-lg">
                Bedroom
            </a>
            <a href=""
               class="text-left text-white capitalize px-2 hover:underline text-base  md:text-lg">
                Lobby
            </a>


            <hr class="border-4 bg-green-500 border-green-500 block w-full my-3" />




        </ul>

        <ul class="flex flex-col justify-center items-start">


            <a href=""
               class="text-left text-white capitalize px-2 hover:underline text-base  md:text-lg">
                Home
            </a>
            <a href=""
               class="text-left text-white capitalize px-2 hover:underline text-base  md:text-lg">
                Kitchen
            </a>
            <a href=""
               class="text-left text-white capitalize px-2 hover:underline text-base  md:text-lg">
                Dining
            </a>
            <a href=""
               class="text-left text-white capitalize px-2 hover:underline text-base  md:text-lg">
                Bedroom
            </a>
            <a href=""
               class="text-left text-white capitalize px-2 hover:underline text-base  md:text-lg">
                Lobby
            </a>


            <hr class="border-4 bg-blue-500 border-blue-500 block w-full my-3" />




        </ul>


    </footer>

    <hr class=" bg-white  block w-full my-3 mt-8" />

    <p class='py-2 text-white text-sm text-center'> {/= sitename /} &copy; {/= new
        Date().getFullYear() /} </>

        <hr class=" bg-white  block w-full mt-3" />

</div>