<div
     class='flex flex-row justify-between px-3 py-1 md:py-3 bg-gray-200 sticky top-0 left-0 right-0 z-20 shadow-2xl'>
    <div class=" flex flex-row justify-center items-center  space-x-2">
        <img src='/favicon.ico'
             class='h-4 w-4 md:h-8 md:w-8'
             alt='logo'>
        <h1 style="font-family: 'work sans';"
            class="text-lg md:text-xl font-serif  font-black text-gray-700 text-center capitalize inline-block">
            {/=sitename /}</h1>

    </div>


    <script>

        $(document).ready(() => {

            $('#show-mobile-menu').click(() => {

                $('#show-mobile-menu').toggleClass('bi-justify-left')
                $('#show-mobile-menu').toggleClass('bi-x')



                $('#mobile-menu').slideToggle()
            })



        })



    </script>

    <div clas=''>

<i id='show-mobile-menu'
   class="bi-justify-left text-3xl text-black md:hidden hover:text-blue-900"></i>


        <!-- Mobile Side Menu  -->
        <div id='mobile-menu'
             class="fixed hidden top-12 bottom-0 right-0 flex flex-col justify-start space-y-6 items-start z-30 w-5/12 md:hidden bg-white py-2 pt-6 shadow-xl ">
            <a href=""
               class="p-2 text-black hover:bg-blue-500 hover:text-white block w-full  pl-8"> <i
                   class="bi-house-door "></i> Home </a>
            <a href=""
               class="p-2 text-black hover:bg-blue-500 hover:text-white block w-full  pl-8"> <i
                   class="bi-arrow-left-right "></i> Transact </a><a href=""
               class="p-2 text-black hover:bg-blue-500 hover:text-white block w-full  pl-8"> <i
                   class="bi-bell "></i> Notifications </a><a href=""
               class="p-2 text-black hover:bg-blue-500 hover:text-white block w-full  pl-8"> <i
                   class="bi-clock "></i> History </a>
            <a href=""
               class="p-2 text-black hover:bg-blue-500 hover:text-white block w-full  pl-8"> <i
                   class="bi-info-circle "></i> About </a>


        </div>


        <ul style="font-family: raleway;"
            class="flex flex-row justify-around items-center space-x-12 pr-6 hidden md:block">
            <a class='inline-block text-center hover:cursor-pointer capitalize  text-blue-500 transform  text-base hover:scale-105'
               href=''>

                <i class="bi-house-door"></i>
                Home
            </a>

            <a class='inline-block text-center hover:cursor-pointer capitalize  text-blue-500 transform  text-base hover:scale-105'
               href=''>
                <i class="bi-bank"></i>

                Banking
            </a><a
               class='inline-block text-center hover:cursor-pointer capitalize  text-blue-500 transform  text-base hover:scale-105'
               href=''>
                <i class="bi-info-circle"></i>

                About us
            </a><a
               class='inline-block text-center hover:cursor-pointer capitalize  text-blue-500 transform  text-base hover:scale-105'
               href=''>

                <i class="bi-envelope"></i>

                Contact us
            </a><a
               class='inline-block text-center hover:cursor-pointer capitalize  text-blue-500 transform  text-base hover:scale-105'
               href=''>
                <i class="bi-exclude"></i>

                Privacy
            </a>
        </ul>
    </div>
</div>