<!DOCTYPE html>
<html lang="en">

      <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible"
                  content="IE=edge">
            <meta name="viewport"
                  content="width=device-width, initial-scale=1.0">
            <title>{/= sitename /}</title>

            {/- include('partials/includes') /}
      </head>

      <body>


            {/- include('partials/header')/}


            <main class="bg-gray-300 min-h-screen flex flex-row items-start justify-start">


                  <div
                       class="min-w-2/12 w-1/12 max-w-4/12 bg-gray-800 h-screen relative pt-10 hidden md:block ">

                        <i title="Expand menu right"
                           id='expand-menu-right'
                           class="bi-box-arrow-right text-xl top-1 hover:text-green-500 hover:cursor-pointer right-2 text-white absolute"></i>

                        <a href=''
                           title="Home"
                           class="text-center block py-8 hover:bg-blue-500 text-2xl  text-white border-b border-t border-gray-500">
                              <i class="bi-house-door  "></i>
                              <span class="hidden menu-items-expand">
                                    Home</span> </a>

                        <a href=''
                           title="Dashboard"
                           class="text-center block py-8 hover:bg-blue-500 text-2xl text-white border-b border-gray-500">
                              <i class="bi-speedometer2  "></i>
                              <span class="hidden menu-items-expand">
                                    Dashboard</span> </a>


                        <a href=''
                           title="Transact"
                           class="text-center block py-8 hover:bg-blue-500 text-2xl text-white border-b border-gray-500">
                              <i class="bi-arrow-left-right  "></i>
                              <span class="hidden menu-items-expand">
                                    Transact </span> </a>

                        <a href=''
                           title="Notifications"
                           class="text-center block py-8 hover:bg-blue-500 text-2xl text-white border-b border-gray-500">
                              <i class="bi-bell  "></i>
                              <span class="hidden menu-items-expand">
                                    Notifications</span> </a>

                        <a href=''
                           title="History"
                           class="text-center block py-8 hover:bg-blue-500 text-2xl text-white border-b border-gray-500">
                              <i class="bi-clock  "></i>
                              <span class="hidden menu-items-expand">
                                    History</span> </a>

                        <a href=''
                           title="Contact us"
                           class="text-center block py-8 hover:bg-blue-500 text-2xl text-white border-b border-gray-500">
                              <i class="bi-envelope  "></i>
                              <span class="hidden menu-items-expand">
                                    Contact us</span> </a>


                        <a href=''
                           title="About us"
                           class="text-center block py-8 hover:bg-blue-500 text-2xl text-white border-b border-gray-500">
                              <i class="bi-info-circle  "></i>
                              <span class="hidden menu-items-expand">
                                    About us</span> </a>

                  </div>



                  <!-- Section  -->
                  <div class=" w-full md:w-11/12 min-h-screen">
                        <div
                             class="flex flex-col md:flex-row md:items-start space-y-1 md:space-y-0  md:space-x-8  md:justify-center md:p-4 md:mt-8 ">

                              <div
                                   class="bg-blue-500 pb-12 md:pb-0 md:w-6/12 min-h-48 md:h-48 md:rounded  relative md:shadow-xl mx-1 md:mx-0 ">

                                    <i class="bi-bank text-2xl top-1 bg-black text-white  px-2 pb-2 left-1 text-black absolute"></i>

                                    <div class="flex flex-col md:flex-row items-center justify-around md:space-x-38 ">

                                          <img src='{/= avatar/}'
                                               title="Customer Profile"
                                               alt='avatar'
                                               class="rounded-full h-24 w-24  md:h-36 md:w-36 bg-black mt-4  ml-4">



                                          <div style="font-family: roboto;"
                                               class=" flex flex-col items-start justify-center pt-8 md:pt-0 space-y-2">
                                                <p
                                                   class="md:font-bold text-base text-center md:text-left  md:text-lg font-serif uppercase text-white">
                                                      <i class="bi-person-circle"></i>
                                                      Lorem, ipsum.
                                                </p>

                                                <p class="md:font-bold text-center md:text-left text-base md:text-lg font-serif text-white">

                                                      <i class="bi-envelope"></i>
                                                      jinx@yahoo.com
                                                </p>

                                                <p title="Account number"
                                                   class="text-lg text-center md:text-left md:font-bold cursor-default shadow-lg select-none p-1 rounded-sm px-2 text-white bg-blue-400 ">
                                                      #Account :
                                                      8765434567898765 </p>
                                          </div>

                                    </div>
                              </div>
                              <div
                                   class="bg-blue-500 md:w-6/12 min-h-48 md:h-48 md:rounded  md:shadow-xl    mx-1 md:mx-0 ">


                                    <div style="font-family: roboto;"
                                         class="md:ml-4 md:ml-0">
                                          <p
                                             class="text-2xl md:text-2xl md:text-3xl  text-white px-6 py-8 md:pt-4 md:pb-2  md:font-bold text-left ">
                                                <span>
                                                      <i class="bi-cash-stack"></i>
                                                      Balance:
                                                </span> <span class="text-green-300"> 345,672
                                                </span>
                                          </p>


                                          <hr class="border-t-1 border-white text-center mx-auto" />

                                          <div class="ml-4 my-2 md:font-semibold py-4 md:py-0">


                                                <p class="text-base text-black   pt-2 md:pt-3 pl-3 text-left">

                                                      <i class="bi-cash"></i>
                                                      Total
                                                      credit:
                                                      <span class="text-white"> 34,334,110
                                                      </span>
                                                </p>

                                                <p class="text-base text-black  pt-2 md:pt-3 pl-3 text-left">
                                                      <i class="bi-cash"></i>

                                                      Total
                                                      debit:
                                                      <span class="text-white"> 4,34,119 </span>
                                                </p>
                                                <p class="text-base text-black  pt-2 md:pt-3 pl-3 text-left">
                                                      <i class="bi-clock"></i>
                                                      Last
                                                      login:
                                                      <span class="text-white"> Wednesday 8th, July
                                                            2022 </span>
                                                </p>
                                          </div>
                                    </div>

                              </div>
                        </div>

                        <div
                             class="flex flex-col md:flex-row md:items-start md:space-x-8 md:justify-around md:p-4 mt-2 md:mt-16 ">

                              <div style="font-family: work sans;"
                                   class="bg-green-500 md:w-6/12 min-h-48 h-92 md:h-56 md:rounded border-b-2 border-gray-600 relative">

                                    <img alt='Banking-1'
                                         src="/p7.jpg"
                                         class="w-full min-h-48 md:h-56 md:rounded ">


                                    <a href=""
                                       class="absolute bottom-6 left-6 bg-gray-600 text-white text-left p-2 px-4 rounded shadow-2xl hover:bg-white hover:text-gray-600 font-bold ">
                                          Online banking </a>

                              </div>
                              <div class="bg-green-500 md:w-6/12 min-h-48 md:h-56 md:rounded border-b-2 border-gray-600 relative">
                                    <img alt='Banking-1'
                                         src="/p1.jpg"
                                         class="w-full min-h-48 md:h-56 md:rounded">

                                    <a href=""
                                       class="absolute bottom-6 left-6 bg-gray-600 text-white text-left p-2 px-4 rounded shadow-2xl hover:bg-white hover:text-gray-600 font-bold ">
                                          Track your transactions </a>

                              </div>


                              <div class="bg-green-500 md:w-6/12 min-h-48 md:h-56 md:rounded border-b-2 border-gray-600 relative">

                                    <img alt='Banking-1'
                                         src="/p8.jpg"
                                         class="w-full min-h-48 md:h-56 md:rounded">

                                    <a href=""
                                       class="absolute bottom-6 left-6 bg-gray-600 text-white text-left p-2 px-4 rounded shadow-2xl hover:bg-white hover:text-gray-600 font-bold ">
                                          Withdraw online </a>

                              </div>

                              <div class="bg-green-500 md:w-6/12 min-h-48 md:h-56 md:rounded border-b-2 border-gray-600 relative">

                                    <img alt='Banking-1'
                                         src="/p4.jpg"
                                         class="w-full min-h-48 md:h-56 md:rounded">

                                    <a href=""
                                       class="absolute bottom-6 left-6 bg-gray-600 text-white text-left p-2 px-4 rounded shadow-2xl hover:bg-white hover:text-gray-600 font-bold ">
                                          Deposit online </a>

                              </div>

                        </div>



                        {/- include('partials/footer') /}
                  </div>

                  <!-- End of section  -->


            </main>


      </body>

</html>